/* style.css */

/* 全体 */
body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center; /* タイトルを画面の中央に配置 */
    height: 100vh;
    margin: 0;
}

/* ヘッダー */
.header {
    display: flex;
    align-items: center;
}

.header h1 {
    margin-right: auto; /* タイトルを左寄せにする */
}

#info-icon {
    margin-left: 10px; /* アイコンとタイトルの間隔を調整 */
}

/* モーダル */
.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 35%;
    max-width: 90%; /* モーダルの最大幅を画面幅の90%に設定 */
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* モーダルの赤文字 */
.important-note {
    color: red;
    font-weight: bold;
}

/* ボタンコンテナのスタイル */
.button-container {
    display: flex;
    justify-content: center;
    gap: 20px; /* ボタンの間に幅を持たせる */
}


/* ボタンのスタイル */
button {
    padding: 10px 20px; /* ボタンを少し大きくする */
    height: 45px;
    font-size: 18px;
    margin-top: 10px; /* ボタンの上下のマージン */
}

/* 本体 */
#game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; /* 中央揃え */
}

/* 文字表示 */
#grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 20px;
    margin: auto; /* グリッドを水平方向に中央揃え */
    margin-bottom: 20px;
}

#grid.hard-mode {
    grid-template-columns: 1fr; /* 1列 */
    gap: 20px; /* ハードモードのグリッド間の間隔を広く */
}

.row {
    display: grid;
    grid-template-columns: repeat(5, 40px) 10px auto;
    gap: 5px;
}

.cell {
    width: 40px;
    height: 40px;
    border: 1px solid #121213;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border-radius: 10px; /* 角を丸くする */
}

.green {
    background-color: #538d4e;
    color: white;
}

.yellow {
    background-color: #b59f3b;
    color: black;
}

.gray {
    background-color: #3a3a3c;
    color: white;
}

/* テキストボックス */
#guess-input {
    width: 200px;
    height: 40px;
    font-size: 24px;
}

/* ヒント */
#hints {
    max-width: 350px; /* 幅を大きくする */
    margin: auto; /* 水平方向に中央揃え */
    white-space: nowrap;
}

.hint.hard-mode .hint-text {
    width: 50%; /* 70% の幅を指定 */
    vertical-align: top;
    white-space: pre-wrap; /* 折り返しを有効に */
    word-wrap: break-word; /* 単語の途中で改行 */
    overflow-wrap: break-word; /* 単語の途中で改行 */
}

#hints p {
    display: flex;
    justify-content: space-between;
    margin: 5px auto;
}

.hint-text {
    width: 70%; /* 70% の幅を指定 */
    display: inline-block;
    white-space: nowrap;
    text-align: left; /* 左詰めに設定 */
}

/* メモ */
#memo {
    width: 100%;
    min-height: 100px;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    resize: vertical; /* 縦方向のみのリサイズを許可 */
}


/* スマートフォン向けのレイアウト調整 */
@media only screen and (max-width: 600px) {
    #game {
        width: 100%;
        padding: 10px; /* 必要に応じてパディングを調整 */
        box-sizing: border-box;
    }
    #grid {
        width: 50%; /* 画面幅の2/3 */
        gap: 5px;
        justify-content: center;
    }
    #grid.hard-mode {
        gap: 10px; /* ハードモードのグリッド間の間隔を広く */
    }
    .row {
        display: grid;
        grid-template-columns: repeat(5, 30px) 10px auto;
        gap: 3px;
    }
    .cell {
        width: 30px; /* セルの幅を調整 */
        height: 30px; /* セルの高さを調整 */
        font-size: 14px; /* フォントサイズを調整 */
        border-radius: 5px; /* 角を丸くする */
    }
    .modal-content {
        width: 90%; /* 小さい画面ではモーダルの幅を90%に設定 */
    }
}